<div class="page-header">
    <h2><small>Bounties</small></h2>
</div>
<ul class="nav nav-pills nav-stacked col-md-3">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
</ul>
<div class="col-md-9">
    <div *ngFor="#bounty of bounties" (click)="gotoDetail(bounty)">
        <div class="col-sm-6 col-md-4" *ngIf="bounty.status == status">
            <h4 class="list-group-item-heading">{{bounty.name}}</h4>
            <div class="thumbnail">
                <div class="caption">
                    <p><b>Created:</b> {{bounty.dateCreated}}</p>
                    <p><b>Expires:</b> {{bounty.dateExpires}}</p>
                    <p><b>Minumum Bid:</b> {{bounty.minimumBid}}</p>
                    <p>{{bounty.description}}</p>
                    <div class="btn-group">
                        <a href="#" class="btn btn-primary" role="button">Apply</a>
                        <a href="#" class="btn btn-default" role="button">Watch</a>
                        <a href="#" class="btn btn-danger" role="button">Ignore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<my-bounty-detail [bounty]="selectedBounty"></my-bounty-detail>